   <div>
            <div><img src=<%= @user.photo %> alt="profile pic">
        
            </div>
            <div>
            <h2><%= @user.name%></h1>
                <p>Number of posts: <%= @user.posts_count %></p>
                <p>Bio: <%= @user.bio %></p>

            </div>
        </div>

<ul>
    <% @posts.each do |pst| %>
        <li>
        <div>
        <h2><% pst.title %></h2>
         <p>Post: <%= pst.text %></p>
         <p>Post: <%= pst.inspect %></p>
         <div>
        <p>Comments: <%= pst.comments_count.nil? ? 0 : pst.comments_count %></p>
        <p>Likes: <%= pst.likes_count.nil? ? 0 : pst.likes_count %></p>
      </div>

    <div>
      <% pst.recent_comments_on_post.each do |comment| %>
        <p><%= User.find(comment.author_id).name %>: <%= comment.text %></p>
      <% end %>
    </div>

        </div>
        </li>
    <% end %>
</ul>
